---
import Layout from "../layouts/Layout.astro";
import Title from "../components/title.astro"
---

<Layout title="Grube_guitars">
  <main class="overflow-x-hidden">
	<div class="back">
		<div class="ball-back-violet"></div>
		<div class="ball-back-green"></div>
		<Title/>
	</div>    
  </main>
</Layout>

<style>
	.back{
		position: relative;
		width: 100vw;
		height: 100vh;
		background-color:rgb(22, 0, 0);
	}
	.ball-back-violet{
		position: absolute;
		width: 500px;
		height: 500px;
		background-image:radial-gradient(farthest-side,rgba(58, 0, 97, 0.678), rgba(0, 0, 255, 0));
		border-radius: 100rem;
	}
	.ball-back-green{
		position: absolute;
		margin-top: 250px;
		margin-left: 900px;
		width: 500px;
		height: 500px;
		background-image:radial-gradient(farthest-side,rgba(0, 97, 16, 0.226), rgba(0, 0, 255, 0));
		border-radius: 100rem;

	}
</style>

