---
import Layout from "../layouts/Layout.astro";
import CardAbout from "../components/Card_about.astro";
import CustomGuitars from "../components/Custom_guitars.astro"

---

<Layout title="Grube_guitars">
  <main class="w-full  flex flex-col justify-beetwen items-center"> 
    <div id="back_triangle" class="absolute w-full h-[100vh] -mt-36 bg-indigo-500/[0.1] "></div>
    <h1 class="z-50 lg:h-40 h-52 text-7xl mt-32 lg:my-0 md:text-9xl lg:text-9xl font-dancing lg:mt-10  md:mt-40 md:my-20
    bg-gradient-to-l from-red-600 to-blue-600 text-transparent bg-clip-text
    ">Grubeguitars</h1>
	  <CardAbout/>  
    <CustomGuitars/>
  </main> 
</Layout>

<style>
  #back_triangle{
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  main {
    position: absolute;
  
    background: linear-gradient(rgb(46, 20, 0), rgba(0, 0, 255, 0));
  }
  .ball-back-violet {
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: radial-gradient(
      farthest-side,
      rgba(68, 40, 77, 0.478),
      rgba(0, 0, 255, 0)
    );
    border-radius: 100rem;
  }
  .ball-back-green {
    position: absolute;
    margin-top: 250px;
    margin-left: -250px;
    width: 500px;
    height: 500px;
    background-image: radial-gradient(
      farthest-side,
      rgba(10, 27, 16),
      rgba(0, 0, 255, 0)
    );
    border-radius: 100rem;
  }
</style>
