---
import Layout from "../layouts/Layout.astro";
import CustomGuitars from "../components/custom-guitars.astro";
---

<Layout title="Grube_guitars">
  <main
    class="w-screen h-[100vh]  flex flex-col items-center bg-gradient-to-b from-indigo-950/[0.2] to-indigo-800/[0]"
  >
    <div id="back-triangle"
      class="absolute w-[90vw] -ml-0 lg:-ml-5 h-full bg-gradient-to-b from-indigo-950/[0] to-indigo-300/[0.5]"
    >
    </div>
    <section class="z-50 w-full flex flex-col justify-start items-center mt-52 md:mt-20">
      <h1
        class="text-7xl md:text-9xl h-20 md:h-40 text-center bg-clip-text text-transparent font-dancing bg-gradient-to-r from-slate-200 to-orange-300/[0.7]"
      >
        Grubeguitars
      </h1>
      <h2 class="text-3xl font-Righteous text-slate-300 py-20">
        <span>Sebastian</span> Grube
      </h2>
      <h3 class="text-2xl font-Righteous text-slate-300">
        <span>Luthier</span> de guitarras y bajos
      </h3>
    </section>
    <CustomGuitars/>
  </main>
</Layout>
<style>
  #back-triangle {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0% 50%);
  }
  span {
    color: rgb(224, 193, 152);
  }
</style>
