---


---

<main class="z-10 w-[90vw] h-screen bg-gradient-to-t to-orange-900/[0.2] from-blue-500/[0] -mt-40">
<h1>hola</h1>
</main>

<style>
    main{
        clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
    }
</style>