---


---

<main class="absolute  mt-[80vh] lg:mt-[100vh]  w-[90vw] h-screen bg-red-400/[.1]">
<h1>hola</h1>
</main>

<style>
    main{
        clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
    }
</style>