<main
  class="w-full h-12 flex justify-end z-50 fixed items-center bg-red-950/[0.2] backdrop-blur-sm"
>
  <div class="w-full">
    <img src="/public/logo.webp" alt="img2" class="fixed w-20 -mt-5 mx-2" />
  </div>
  <nav class="w-52 gap-3 py-2 list-none mx-10 flex">
    <a href="">
      <img src="/public/twitter.webp" alt="img-twiter " class="w-7" />
    </a>
    <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.grubeguitars.net%2F&t=Home">
      <img src="/public/facebook.webp" alt="img-facebook" class="w-7" />
    </a>
    <a href="https://www.instagram.com/grubeguitars/">
      <img src="/public/instagram.webp" alt="img-instagram" class="w-7" />
    </a>
    <a href="https://www.evernote.com/Login.action?targetUrl=%2Fclip.action%3Furl%3Dhttps%3A%2F%2Fwww.grubeguitars.net%2F%26title%3DHome">
      <img src="/public/evernote.webp" alt="img-evertone " class="w-7" />
    </a>
    <a href="https://login.xing.com/?dest_url=https%3A%2F%2Fwww.xing.com%2Fsocial%2Fshare%2Fspi%3Furl%3Dhttps%253A%252F%252Fwww.grubeguitars.net%252F">
      <img src="/public/xing.webp" alt="img-xing" class="w-7" />
    </a>
    <a href="">
      <img src="/public/email.webp" alt="img-email" class="w-7" />
    </a>
  </nav>
</main>
