<main class="z-[100] fixed w-[90vw] h-10 bg-indigo-950/[0] backdrop-blur-sm">
  <img src="../assets/logo_grube.png" alt="logo" class="absolute w-32 p-3" />
  <nav class="w-full h-full flex justify-end items-center  gap-5">
    <a href="">
      <img src="../assets/facebook.webp" alt="icon-facebook" class="w-4" />
    </a>
    <a href="">
      <img src="../assets/twitter.webp" alt="icon-twiter" class="w-4" />
    </a>
    <a href="">
      <img src="../assets/instagram.webp" alt="icon-instagram" class="w-4" />
    </a>
    <a href="">
      <img src="../assets/evernote.webp" alt="icon-evernote" class="w-4" />
    </a>
    <a href="">
      <img src="../assets/xing.webp" alt="icon-xing" class="w-4" />
    </a>
    <a href="">
        <img src="../assets/email.webp" alt="w-email" class="w-4" />
      </a>
  </nav>
</main>


