<main class="z-[100] fixed w-screen h-10 bg-indigo-950/[0] backdrop-blur-sm">
  <img src="logo_grube.png" alt="logo" class="absolute w-28 mx-3" />
  <nav class="w-full h-full flex justify-end items-center px-10 gap-5">
    <a href="">
      <img src="facebook.webp" alt="icon-facebook" class="w-4" />
    </a>
    <a href="">
      <img src="twitter.webp" alt="icon-twiter" class="w-4" />
    </a>
    <a href="">
      <img src="instagram.webp" alt="icon-instagram" class="w-4" />
    </a>
    <a href="">
      <img src="evernote.webp" alt="icon-evernote" class="w-4" />
    </a>
    <a href="">
      <img src="xing.webp" alt="icon-xing" class="w-4" />
    </a>
    <a href="">
        <img src="email.webp" alt="w-email" class="w-4" />
      </a>
  </nav>
</main>
