<div class="relative w-[90vw] m-auto h-[50vh] bg-red-800 flex overflow-scroll">
    <img src="/assets/email.webp" alt="">
    <img src="/assets/evernote.webp" alt="">
    <img src="/assets/facebook.webp" alt="">
    <img src="/assets/instagram.webp" alt="">
    <img src="/assets/twitter.webp" alt="">
    <img src="/assets/xing.webp" alt="">    

</div>
<style>
    img{
    
  width: 100%;
  position: sticky;
  left: 0;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;

  }
  div{
scroll-snap-type: x mandatory;
    
  }
</style>