<main class="absolute w-screen bg-reen-500 flex items-center justify-center">
  <div class="c">
    <input type="radio" name="a" id="cr-1" checked />
    <label for="cr-1">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/i1fc361bce83bcae7/version/1532790261/image.jpg"
        width={300}
        height={400}
       
      />
    </label>
    <div class="ci" style="--z: 5">
   
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/i1fc361bce83bcae7/version/1532790261/image.jpg"
      />
    </div>

    <input type="radio" name="a" id="cr-2" />
    <label for="cr-2" style="--hue: 82">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/id1cb9f930a192b75/version/1532790375/image.jpg"
        alt="Trees"
      />
    </label>
    <div class="ci" style="--z: 4">
   
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/id1cb9f930a192b75/version/1532790375/image.jpg"
        alt="Trees"
      />
    </div>

    <input type="radio" name="a" id="cr-3" />
    <label for="cr-3" style="--hue: 40">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/icbb48bd6cdf81126/version/1532790375/image.jpg"
        alt="Mountains and houses"
      />
    </label>
    <div class="ci" style="--z: 3">
     
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/icbb48bd6cdf81126/version/1532790375/image.jpg"
        alt="Mountains and houses"
      />
    </div>

    <input type="radio" name="a" id="cr-4" />
    <label for="cr-4" style="--hue: 210">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/dimension=2048x2048:format=jpg/path/s02fcfe714ac4156b/image/i630fbf8f52318d9c/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </label>
    <div class="ci" style="--z: 2">       
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/dimension=2048x2048:format=jpg/path/s02fcfe714ac4156b/image/i630fbf8f52318d9c/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </div>

    <input type="radio" name="a" id="cr-5" />
    <label for="cr-5" style="--hue: 210">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/icef74ef08af3f68c/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </label>
    <div class="ci" style="--z: 1">
      
       
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/icef74ef08af3f68c/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </div>

    <input type="radio" name="a" id="cr-6" />
    <label for="cr-6" style="--hue: 210">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/i961aa576f9b66166/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </label>
    <div class="ci" style="--z: 1">
     
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/i961aa576f9b66166/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </div>

    <input type="radio" name="a" id="cr-7" />
    <label for="cr-7" style="--hue: 210">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/i82e60a38f98e9f02/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </label>
    <div class="ci" style="--z: 1">
      <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">
        Above looks beautiful?
      </h2>
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/i82e60a38f98e9f02/version/1700067185/image.jpg"
        alt="Sky and mountains"
        
      />
    </div>

    <input type="radio" name="a" id="cr-8" />
    <label for="cr-8" style="--hue: 210">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/i4df8e9779649ff59/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </label>
    <div class="ci" style="--z: 1">
      <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">
        Above looks beautiful?
      </h2>
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/i4df8e9779649ff59/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </div>

    <input type="radio" name="a" id="cr-9" />
    <label for="cr-9" style="--hue: 210">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/ifed2d1b5c89734f4/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </label>
    <div class="ci" style="--z: 1">
      <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">
        Above looks beautiful?
      </h2>
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/ifed2d1b5c89734f4/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </div>

    <input type="radio" name="a" id="cr-10" />
    <label for="cr-10" style="--hue: 210">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/i7c9f76cda0c558fa/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </label>
    <div class="ci" style="--z: 1">
      <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">
        Above looks beautiful?
      </h2>
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s02fcfe714ac4156b/image/i7c9f76cda0c558fa/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
    </div>

    <input type="radio" name="a" id="cr-11" />
    <label for="cr-11" style="--hue: 210">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/dimension=2048x2048:format=jpg/path/s02fcfe714ac4156b/image/ic8f2620aef5c54ed/version/1700067185/image.jpg"
        alt="Sky and mountains"
        class="absolute z-50"
      />
    </label>
    <div class="ci" style="--z: 1">
      <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">
        Above looks beautiful?
      </h2>
      
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/dimension=2048x2048:format=jpg/path/s02fcfe714ac4156b/image/ic8f2620aef5c54ed/version/1700067185/image.jpg"
        alt="Sky and mountains"
      />
        </div>
  </div>
</main>
<style>
  @media (max-width: 400px) {
    .c {
      margin-top: 150px;
     min-width: 400px;
     width: 400px;
      height: 600px;
    }
  }

  @media (min-width: 400px) {
    .c {
      margin-top: 50px;
      min-width: 700px;
     width: 500px;
      height: 325px;
    }
  }

  @media (min-width: 900px) {
    .c {
    
      min-width: 700px;
     width: 700px;
      height: 475px;
     
    }
  }

  .c {
    min-width: 400px;   
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 8px 48px 2px hsla(10 6% 15% / 0.4);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: hsl(0, 0%, 8%);
    box-sizing: border-box;
  }

  .ci {
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    transform-origin: left 50%;
    background: inherit;
    z-index: var(--z);
    transition: 0.3s ease-out;
  }

  .ci img {
    -moz-user-select: none;
    user-select: none;
  }

  .ch {
    position: absolute;
    top: 70%;
    left: 4%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: hsla(var(--h) var(--s) var(--l) / 0.8);
    text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / 0.3);
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
  }

  label {
    width: 10%;
    height: 10px;
    margin-right: 4px;
    border-radius: 20px;
    background: hsla(0 0% 90% / 0.3);
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  label:last-child {
    margin-right: 0;
  }

  input:checked + label {
    background: linear-gradient(
      to right,
      hsla(var(--hue) 80% 70% / 0.7),
      hsla(calc(var(--hue) + 30) 80% 50% / 0.7)
    );
  }

  input:not(:checked) + label + .ci {
    transform: translateX(-100%);
    opacity: 0;
  }

  input:checked + label + .ci ~ .ci {
    transform: translateX(100%);
  }

  input:not(:checked) + label + .ci {
    transition: 0;
  }

  .abs-site-link {
    position: fixed;
    z-index: 11;
    bottom: 20px;
    left: 20px;
    color: hsla(32 50% 50% / 0.8);
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 3px solid currentColor;
    text-decoration: none;
    background-color: inherit;
  }

  .abs-profiles {
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 23px;
    opacity: 0.8;
  }

  .abs-profiles img {
    filter: hue-rotate(71deg) brightness(1.1);
  }

  .abs-profiles a {
    display: inline-block;
    margin-left: 6px;
  }
</style>
