<div class="relative w-96 h-96 bg-red-800 flex overflow-scroll">
    <img src="/public/assets/email.webp" alt="">
    <img src="/public/assets/evernote.webp" alt="">
    <img src="/public/assets/facebook.webp" alt="">
    <img src="/public/assets/instagram.webp" alt="">
    <img src="/public/assets/twitter.webp" alt="">
    <img src="/public/assets/xing.webp" alt="">
    

</div>
<style>
    img{
    
  width: 100%;
  position: sticky;
  left: 0;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
  aspect-ratio: 10/16;

  }
  div{
scroll-snap-type: x mandatory;
    
  }
</style>