<main class="w-full h-full flex justify-center items-center flex-col">
  <h1 class="text-[5rem] md:text-9xl md:h-48 lg:text-[12rem] lg:h-72 font-dancing w-full text-center bg-gradient-to-l text-transparent bg-clip-text from-violet-700/[0.7] to-orange-700">Grubeguitars</h1>
  <h2 class="text-[2rem] lg:text-[3rem] font-dancing w-full text-center text-indigo-500">Luthier de gitarras y bajos</h2>
</main>
